@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .button-1 {
    @apply border-0 outline-0 px-[15px] py-[7px];
    @apply flex items-center justify-center;
    @apply bg-[#d1f52c] border-[#d1f52c];
    @apply w-full h-full;
    @apply text-[#000] text-[16px] text-center font-normal whitespace-nowrap;
    @apply cursor-pointer;
    @apply hover:bg-[#daff2e];
  }

  .button-2 {
    @apply border outline-0 px-[15px] py-[7px];
    @apply flex items-center justify-center;
    @apply bg-transparent border-[#d1f52c];
    @apply w-full h-full;
    @apply text-[#d1f52c] text-[16px] text-center font-normal whitespace-nowrap;
    @apply cursor-pointer;
    @apply transition-[color,box-shadow];
    @apply hover:text-[#000] hover:shadow-[inset_48rem_0_0_0] hover:shadow-[#d1f52c] duration-[400ms,700ms];
  }

  .button-disabled {
    @apply bg-[#e6e6e6] text-[#fff] cursor-not-allowed pointer-events-none;
  }
}

body {
  background-color: #101415;
  color: #808080;
  padding: 0;
  margin: 0;
  font-family: "apparat", sans-serif;
  font-style: normal;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  outline: 0;
}

::-webkit-scrollbar {
  display: none;
}